<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-centers">
<div class="text-center">
<h1 class="font-weight-bold">Corona Virus Patients Deatils</h1>
<p>Stay aware of the latest COVID-19 information by 
regularly checking updates from WHO and your national 
and local public health authorities.
</p>
<button class="btn bg-primary btn-lg text-white">Get Start</button>

</div>
</section>
</body>
</html>